body {
    margin:0;
}
#header {
    background-color:#222f42;
    padding: 20px;
    color: white;
    display: flex;
}

#content {
    margin-left: 2%;
    margin-right: 2%;
    background-color: lightgray;
}

p {
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 10px;
    margin-right:10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    background-color: gray;
}
a:hover {
    color: black;
}
a.a1:hover {
    background-color: rgb(230, 129, 15);
}
a.a2:hover {
    background-color: green;
}
a.a3:hover {
    background-color: yellow;
}
h1 {
    margin-top: 0;
}

#loginIcon {
    margin-left: auto; 
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
}
#loginIcon a{
    width: 80px;
    background-image: linear-gradient(-135deg, #c850c0, #4158d0);
    border-radius: 25px;
    width: 100px;
}

#loginIcon p {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}

* {
    box-sizing: border-box;
}
.photo img {
    width: 200px;
    margin-bottom: 10px;
}
.title_cards {
    text-align: center;
}

.cards {
    background-color: gray;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    width: 25%;
}

.items_wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    min-width: 230px;
    min-height: 300px;
    width: 100%;
}

.items_wrapper .title {
    font-weight: 900;
    font-size: 20px;
}

.items_wrapper .description {
    font-size: 16px;
}

@media screen and (max-width: 1100px) {
    .card {
        width: 33.3%;
    }
}

@media screen and (max-width: 850px) {
    .card {
        width: 50%;
    }
}

@media screen and (max-width: 590px) {
    .card {
        width: 100%;
    }
}